Alert {{groupLabels.alertname}} is {{status}}
Severity {{commonLabels.severity}}

Affected nodes,
{{#alerts}}
{{labels.instance}}

Alert: {{labels.alertname}}
Namespace: {{labels.namespace}}
Message: {{annotations.message}}

{{/alerts}}
