Alert {{groupLabels.alertname}} for nodes below has been {{status}}

{{#alerts}}
{{labels.instance}}

Alert: {{labels.alertname}}
Namespace: {{labels.namespace}}
Message: {{annotations.message}}

{{/alerts}}
